/* #root{
  font-family: "Outfit", sans-serif, sans-serif;
} */
 
:root {
  --color-50: #ffc9ff;
  --color-100: #d298ff;
  --color-200: #b77fff;
  --color-300: #9c68fd;
  --color-400: #8251e3;
  --color-500: #683ac9;
  --color-600: #4d23b0;
  --color-700: #2f0997;
  --color-800: #2f0997;
  --color-900: #00007f;
  --color-950: #000068;
}

.bg-50 { background-color: var(--color-50); }

.text-50 { color: var(--color-50); }

.bg-100 { background-color: var(--color-100); }

.text-100 { color: var(--color-100); }

.bg-200 { background-color: var(--color-200); }

.text-200 { color: var(--color-200); }

.bg-300 { background-color: var(--color-300); }

.text-300 { color: var(--color-300); }

.bg-400 { background-color: var(--color-400); }

.text-400 { color: var(--color-400); }

.bg-500 { background-color: var(--color-500); }

.text-500 { color: var(--color-500); }

.bg-600 { background-color: var(--color-600); }

.text-600 { color: var(--color-600); }

.bg-700 { background-color: var(--color-700); }

.text-700 { color: var(--color-700); }

.bg-800 { background-color: var(--color-800); }

.text-800 { color: var(--color-800); }

.bg-900 { background-color: var(--color-900); }

.text-900 { color: var(--color-900); }

.bg-950 { background-color: var(--color-950); }

.text-950 { color: var(--color-950); }







@font-face {
  font-family: 'CustomFont';
  src: url('../src/fonts/Sequel\ Sans\ Black\ Head.ttf') format('truetype');

}

body {
  font-family: 'CustomFont', sans-serif !important ;
  /* font-style: italic; */
}

/* above or below to override font*/

/* html body {
  font-family: 'CustomFont', sans-serif ;
} */

::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
  background-color: #f4f4f4; /* Set the background color */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

/* Style the scrollbar thumb when hovering */
::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c; /* Set the color of the scrollbar thumb on hover */
}


  .ant-picker-presets {
      min-height: 250px;
  }


  /* .ant-picker-dropdown .ant-picker-panel-container .ant-picker-panels {
    display: block;
    flex-wrap: nowrap;
    direction: ltr;
  }
   */

  .antd_selected_presets_date {
  color: #fff;
   background: #7e78ef;
   &:hover {
    color: #7e78ef;
  }
  }

 /* .ant-table-content {
    position: sticky;
    z-index: 3;
    background: #ffffff;
  }


  .ant-table-wrapper table {
    width: max-content;
    text-align: start;
    border-radius: 8px 8px 0 0;
    border-collapse: separate;
    border-spacing: 0;
  } */

  @media screen and (min-width: 1920px) {
    #root {
      height: auto; /* Reset height for screens wider than 1920px */
    }
  }
  

  .highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


.ant-table-wrapper .ant-table-row-expand-icon-spaced {
  margin: 3px !important;
}